{% extends 'base.html.twig' %}

{% block title %}Boostmybet | blog{% endblock %}

{% block body %}
    <!-- Blog list start -->
    <div class="contant">
        <div class="inner-banner-part" id="banner-part">
            <div class="inner-banner-content">
                <div class="container">
                    <h1 class="head-one">BLOG</h1>
                    <div class="custom-bread">
                        <ul class="breadcrumb inline">
                            <li><a href="{{ asset('/') }}">Home</a></li>
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-part ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="img-box blog-content mb-30">
                                    <a href="{{ asset('/article/nom-de-l-article') }}" class="zoom">
                                        <img src="{{ asset('images/img-de-article.jpg') }}" alt="blog-img">
                                    </a>
                                    <div class="blog-detail">
                                        <p class="bloger-date">John Doe <span>|</span> 28 Oct 2019</p>
                                        <h3 class="head-three mb-20"><a href="{{ asset('/article/nom-de-l-article') }}">Expenses as material breed mate insisted building</a></h3>
                                        <a href="{{ asset('/article/nom-de-l-article') }}" class="readmore-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="img-box blog-content mb-30">
                                    <a href="{{ asset('/article/nom-de-l-article') }}" class="zoom">
                                        <img src="{{ asset('images/img-de-article.jpg') }}" alt="blog-img">
                                    </a>
                                    <div class="blog-detail">
                                        <p class="bloger-date">John Doe <span>|</span> 20 Oct 2019</p>
                                        <h3 class="head-three mb-20"><a href="{{ asset('/article/nom-de-l-article') }}">Quis nostrud exercitati ullamco laboris nisi ut aliquip</a></h3>
                                        <a href="{{ asset('/article/nom-de-l-article') }}" class="readmore-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="img-box blog-content mb-30">
                                    <a href="{{ asset('/article/nom-de-l-article') }}" class="zoom">
                                        <img src="{{ asset('images/img-de-article.jpg') }}" alt="blog-img">
                                    </a>
                                    <div class="blog-detail">
                                        <p class="bloger-date">John Doe <span>|</span> 15 Oct 2019</p>
                                        <h3 class="head-three mb-20"><a href="{{ asset('/article/nom-de-l-article') }}">Laboris nisi ut aliquip ex ea commodo consequat.</a></h3>
                                        <a href="{{ asset('/article/nom-de-l-article') }}" class="readmore-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="img-box blog-content mb-30">
                                    <a href="{{ asset('/article/nom-de-l-article') }}" class="zoom">
                                        <img src="{{ asset('images/img-de-article.jpg') }}" alt="blog-img">
                                    </a>
                                    <div class="blog-detail">
                                        <p class="bloger-date">John Doe <span>|</span> 28 Oct 2019</p>
                                        <h3 class="head-three mb-20"><a href="{{ asset('/article/nom-de-l-article') }}">Expenses as material breed mate insisted building</a></h3>
                                        <a href="{{ asset('/article/nom-de-l-article') }}" class="readmore-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="img-box blog-content mb-30">
                                    <a href="{{ asset('/article/nom-de-l-article') }}" class="zoom">
                                        <img src="{{ asset('images/img-de-article.jpg') }}" alt="blog-img">
                                    </a>
                                    <div class="blog-detail">
                                        <p class="bloger-date">John Doe <span>|</span> 20 Oct 2019</p>
                                        <h3 class="head-three mb-20"><a href="{{ asset('/article/nom-de-l-article') }}">Quis nostrud exercitati ullamco laboris nisi ut aliquip</a></h3>
                                        <a href="{{ asset('/article/nom-de-l-article') }}" class="readmore-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="img-box blog-content mb-30">
                                    <a href="{{ asset('/article/nom-de-l-article') }}" class="zoom">
                                        <img src="{{ asset('images/img-de-article.jpg') }}" alt="blog-img">
                                    </a>
                                    <div class="blog-detail">
                                        <p class="bloger-date">John Doe <span>|</span> 15 Oct 2019</p>
                                        <h3 class="head-three mb-20"><a href="{{ asset('/article/nom-de-l-article') }}">Laboris nisi ut aliquip ex ea commodo consequat.</a></h3>
                                        <a href="{{ asset('/article/nom-de-l-article') }}" class="readmore-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="img-box blog-content mb-30">
                                    <a href="{{ asset('/article/nom-de-l-article') }}" class="zoom">
                                        <img src="{{ asset('images/img-de-article.jpg') }}" alt="blog-img">
                                    </a>
                                    <div class="blog-detail">
                                        <p class="bloger-date">John Doe <span>|</span> 28 Oct 2019</p>
                                        <h3 class="head-three mb-20"><a href="{{ asset('/article/nom-de-l-article') }}">Expenses as material breed mate insisted building</a></h3>
                                        <a href="{{ asset('/article/nom-de-l-article') }}" class="readmore-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="img-box blog-content mb-30">
                                    <a href="{{ asset('/article/nom-de-l-article') }}" class="zoom">
                                        <img src="{{ asset('images/img-de-article.jpg') }}" alt="blog-img">
                                    </a>
                                    <div class="blog-detail">
                                        <p class="bloger-date">John Doe <span>|</span> 20 Oct 2019</p>
                                        <h3 class="head-three mb-20"><a href="{{ asset('/article/nom-de-l-article') }}">Quis nostrud exercitati ullamco laboris nisi ut aliquip</a></h3>
                                        <a href="{{ asset('/article/nom-de-l-article') }}" class="readmore-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="img-box blog-content mb-30">
                                    <a href="{{ asset('/article/nom-de-l-article') }}" class="zoom">
                                        <img src="{{ asset('images/img-de-article.jpg') }}" alt="blog-img">
                                    </a>
                                    <div class="blog-detail">
                                        <p class="bloger-date">John Doe <span>|</span> 15 Oct 2019</p>
                                        <h3 class="head-three mb-20"><a href="{{ asset('/article/nom-de-l-article') }}">Laboris nisi ut aliquip ex ea commodo consequat.</a></h3>
                                        <a href="{{ asset('/article/nom-de-l-article') }}" class="readmore-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog list end -->
{% endblock %}
